<!-- <h1>Home#thrill_index</h1>
<p>Find me in app/views/home/thrill_index.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thrill Life Productions - https://www.thrillin4alivin.com/</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <!--font awesome v5.2  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta name="author" content="Margarita Serrano">
    <meta name="keywords" content="Margarita Serrano - Founder, www.facebook.com/ThrillLifeProductions, People,nightlifepersonal,new york nightlifes,thrilllifeproduction,margarita, #doit4thethrill, #thrillin4alivin,hospitality, thrillin4alivin, PR, public relations, event planner, promoter, brooklyn, Terminator Records Night with Alexander Technique / Krames / Becka / Max Sprauer; at Elsewhere, New York · Becka, Alexander Technique, Margarita Serrano - Founder - Thrill Life Productions | LinkedIn">
    <meta name="description" content="www.facebook.com/ThrillLifeProductions, Margarita Serrano - Founder, The biggest players and coolest places that make NYC nightlife tick.">




    <!-- Adobe typekit fonts-->
    <script src="https://use.typekit.net/qcd8sjb.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>

  </head>
  <body>
     <!-- navbar -->
     <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark bg-faded">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
         <a class="navbar-brand" href="/"><img src="./assets/record3ps.png" style="width:9%">Thrill Life Productions</a>
           <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item active">
               <a class="nav-link" href="/">EVENTS  <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/music">Artist</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/events">Merchandise</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/about">About</a>
               </li>
             </ul>
           </div>
         </nav>
    <!--header with btn  -->

<!--  ===========events== upcoming events====end=====events.scss============== -->


<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-med w3-padding-24">
    <a href="#" class="w3-left w3-button w3-white">UPCOMING EVENTS</a>
    <a href="/music" class="w3-right w3-button w3-white">ARTIST</a>
  </header>

  <!--check out our new dad hats  -->
  <div class="parallax parallax-home">
    <section class="hero-dad text-center">
       <div class="container">
            <h2 class="our-music"><a href="http://www.thrillin4alivin.com/events"><br><br> <br>CHECK OUT OUR NEW DAD HATS </a><br><br>
            <div class="row justify-content-center no-gutters">
              <div class="col-xs-3 col">
                <a href="http://www.thrillin4alivin.com/events">
                <%= image_tag ("dad_1.jpg"), class:  "img-fluid "  %>
              </a>

              </div>
              <div class="col-xs-3 col">
                <a href="http://www.thrillin4alivin.com/events">
                <%= image_tag ("dad_2.jpg"), class:  "img-fluid "  %>
              </a>

              </div>
              <div class="col-xs-3 col">
                <a href="http://www.thrillin4alivin.com/events">
                <%= image_tag ("dad_3.jpg"), class:  "img-fluid "  %>
              </a>

              </div>
              <div class="col-xs-3 col">
                <a href="http://www.thrillin4alivin.com/events">
                <%= image_tag ("dad_4.jpg"), class:  "img-fluid "  %>
                </a>
              </div>
            </div>
            </div>
            </div>
          <br></h2><br>
        </section><br><br>
    </div>
  <!--END - DAD HATS  -->

  <!-- Photo Grid  UPCOMING EVENTS IMAGES WITH LINKS-->
  <div class="w3-row">

    <!-- <div class="video-header">
      <video id="boat_event" preload="auto" controls autoplay="true" loop="loop" muted="">
      <source src="./assets/event_video.mp4" type="video/mp4">
      </video>

      <audio controls>
        <source src="./assets/event_video.mp4" type="audio/mp4">
      </audio>
   </div> -->
    <div class="w3-half">

      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/09_08_JRoman.jpeg" style="width:100%"></a>
      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/sho.png" style="width:100%"></a>


    </div>

    <div class="w3-half">

      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/09_08_JRoman.jpeg" style="width:100%"></a>
      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/sho2.png" style="width:100%"></a>

    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
<footer class="w3-light-black w3-padding-25 w3-center" id="about">
  <!--ARTIST SECTION  -->
  <section class="hero text-center">
     <div class="container">
          <h2 class="our-music"><a href="/events"> <br><b>SHOP OUR MERCHANDISE</b></a></h2><br><br>

      </section>
  <!--ARTIST SECTION END  -->
  </footer>



<!--  ===========footer / soical media=======start===home.scss================= -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p>Thrills Life Productions 2017</p>
      </div>
      <div class="col-lg-7">
        <ul class="list-inline social-links">
            <li class="list-inline-item social-link">
                <a href="https://www.facebook.com/ThrillLifeProductions"><i class="fa fa-facebook" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
                <a href="https://twitter.com/THRILLEST_1"><i class="fa fa-twitter" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
              <a href="https://www.instagram.com/thrill_life_productions/"><i class="fa fa-instagram" style="font-size:25px;color:white"></a></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


    <!--Bootstrap JS  -->
    <!--jQuery first(go to https://code.jquery.com for link ), then Popper.js, then Bootstrap JS   -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <%= yield %>
</body>
<!--  ===========footer / soical media====end======home.scss================= -->
