<!-- <h1>Music#music</h1>
<!-This is the Artist page-  -->
<!-- <p>Find me in app/views/music/music.html.erb</p> -->

<!--  ===========our music======start======= -->
<!-- <h1>Home#thrill_index</h1>
<p>Find me in app/views/home/thrill_index.html.erb</p> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <meta name="author" content="Margarita Serrano">

    <meta name="keywords" content="Margarita Serrano - Founder, www.facebook.com/ThrillLifeProductions, People,nightlifepersonal,new york nightlifes,thrilllifeproduction,margarita, do it 4 the thrill, thrillin 4 a livin,hospitality, thrillin, 4 a livin, PR, public relations, event planner, promoter, brooklyn, Terminator Records Night with Alexander Technique / Krames / Becka / Max Sprauer; at Elsewhere, New York · Becka, Alexander Technique, Margarita Serrano - Founder - Thrill Life Productions | LinkedIn">
    <meta name="description" content="www.facebook.com/ThrillLifeProductions, Margarita Serrano - Founder, The biggest players and coolest places that make NYC nightlife tick.">


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Adobe typekit fonts-->
    <script src="https://use.typekit.net/qcd8sjb.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>

  </head>
  <body>
     <!-- navbar -->
     <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark bg-faded">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
         <a class="navbar-brand" href="/"><img src="./assets/record3ps.png" style="width:9%">Thrill Life Productions</a>
           <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item active">
               <a class="nav-link" href="/">EVENTS  <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/music">Artist</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/events">Merchandise</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/about">About</a>
               </li>
             </ul>
           </div>
         </nav>
    <!--header with btn  -->

<!--  ===========events== upcoming events====end=====events.scss============== -->


<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <!--ARTIST SECTION  -->
  <!-- <section class="hero text-center">
     <div class="container">
          <h2 class="our-music"><a href="/"> <br>UPCOMING EVENTS</a></h2><br><br>
          <div class="row justify-content-center no-gutters">
            <div class="col-xs-3 col">
              <a href="https://soundcloud.com/mr-klienfeld">
              <%= image_tag ("djKleinfeld.png"), class:  "img-fluid "  %>
            </a>

            </div>
            <div class="col-xs-3 col">
              <a href="https://soundcloud.com/djalexandertechnique">
              <%= image_tag ("djAlex.png"), class:  "img-fluid "  %>
            </a>

            </div>
            <div class="col-xs-3 col">
              <a href="https://soundcloud.com/seankrames?utm_source=soundcloud&utm_campaign=share&utm_medium=email">
              <%= image_tag ("djKrames3.png"), class:  "img-fluid "  %>
            </a>

            </div>
            <div class="col-xs-3 col">
              <a href="https://soundcloud.com/carlosdacosta">
              <%= image_tag ("djCarlos.png"), class:  "img-fluid "  %>
              </a>

            </div>
            <div class="col-xs-3 col">
              <a href="https://soundcloud.com/mvxsprvuer">
              <%= image_tag ("djMax.png"), class:  "img-fluid "  %>
            </a>

            </div>
          </div>
          </div>
          </div>
        <br><br>
      </section><br><br> -->
  <!--ARTIST SECTION END  -->
    <h2>Klienfeld
    <p><small class="artist-img">Terminator Records/AYCB</small></p></h2>
    <h8></h8>
    <img src="./assets/djKleinfeld.png" class="w3-image w3-padding-32" width="400" height="200">
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
      <p></p>
      <!-- <p class="w3-large w3-text-pink">Line-up <br> -->
        <br><a href="https://soundcloud.com/mr-klienfeld">Music</a>
        <br><a href="https://www.traxsource.com/search?term=Klienfeld">Traxsource</a>
        <br><a href="https://www.facebook.com/klienfeld">Facebook</a>
        <br><br>
        <hr>

    </form>
    <br>
    <h2>Alexander Technique
      <p><small class="artist-img">Dopewax/Terminator Records/Drop Ready</small></p></h2>
    <img src="./assets/djAlex_Tech3.png" class="w3-image w3-padding-32" width="400" height="200">
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
      <p></p>
      <!-- <p class="w3-large w3-text-pink">Line-up <br> -->
        <a href="https://soundcloud.com/djalexandertechnique">MUSIC</a>
        <br><a href="https://www.traxsource.com/search?term=Alexander+Technique">Traxsource</a>
        <br><a href="https://www.youtube.com/watch?v=DsTE4ECLJbs&feature=youtu.be&t=45m23s">Live at Mixmag Lab NYC</a>
        <br><a href="https://www.djalexandertechnique.com/">Official Site</a>
        <br><a href="https://www.facebook.com/ATechnique/">Facebook</a>
        <br>
     </p>
     <hr>
    </form>

    <br>
    <h2>Carlos Dacosta
      <p><small class="artist-img">Soul Funktion</small></p></h2>
    <img src="./assets/djCarlos2.png" class="w3-image w3-padding-32" width="400" height="200">
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
      <p></p>
      <!-- <p class="w3-large w3-text-pink">Line-up <br> -->
        <a href="https://soundcloud.com/carlosdacosta">MUSIC</a>
        <br><a href="https://www.traxsource.com/artist/230275/carlos-dacosta/top?ipp=100">Traxsource</a>
        <br><a href="https://www.facebook.com/carlosdacostanyc">Facebook</a>
        <br>
     </p>
     <hr>
    </form>

    <br>
    <h2>Krames
      <p><small class="artist-img">Terminator Records/Afterwave Records</small></p></h2>
    <img src="./assets/djKrames.jpg" class="w3-image w3-padding-32" width="400" height="200">
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
      <p></p>
      <!-- <p class="w3-large w3-text-pink">Line-up <br> -->
        <a href="https://soundcloud.com/seankrames">MUSIC</a>
        <br><a href="https://www.traxsource.com/artist/285205/krames">Traxsource</a>
        <br><a href="http://seankrames.com/">Official Site</a>
        <br><a href="https://www.facebook.com/djkrames/">Facebook</a><br>
     </p>
     <hr>
    </form>

    <br>
    <h2>Maximilian Sprauer
      <p><small class="artist-img">Rvdioactive</small></p></h2>
    <img src="./assets/djMax.png" class="w3-image w3-padding-32" width="400" height="200">
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
      <p></p>
      <!-- <p class="w3-large w3-text-pink">Line-up <br> -->
        <a href="https://soundcloud.com/mvxsprvuer">MUSIC</a>
        <!-- <br><a href="">Traxsource</a> -->
        <br><a href="https://www.facebook.com/maxsprauerdeejay/">Facebook</a>
     </p>
     <hr>
    </form>


  </footer>



<!--  ===========footer / soical media=======start===home.scss================= -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p>Thrills Life Productions 2017</p>
      </div>
      <div class="col-lg-7">
        <ul class="list-inline social-links">
            <li class="list-inline-item social-link">
                <a href="https://www.facebook.com/ThrillLifeProductions"><i class="fa fa-facebook" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
                <a href="https://twitter.com/THRILLEST_1"><i class="fa fa-twitter" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
              <a href="https://www.instagram.com/thrill_life_productions/"><i class="fa fa-instagram" style="font-size:25px;color:white"></a></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <%= yield %>
</body>
<!--  ===========footer / soical media====end======home.scss================= -->
