<!-- <h1>About#parallax</h1>
<p>Find me in app/views/about/parallax.html.erb</p> -->

<!--  ===========about======start================= -->
<!-- <h1>Home#thrill_index</h1>
<p>Find me in app/views/home/thrill_index.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Adobe typekit fonts-->
    <script src="https://use.typekit.net/qcd8sjb.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>

  </head>
  <body>
     <!-- navbar -->
      <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
          <a class="navbar-brand" href="/">Thrill Life Productions</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                <!-- <a class="nav-link" href="/music">Artist</a> -->
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/events">Upcoming Events</a>
            </li>
          </ul>
        </div>
      </nav>
    <!--header with btn  -->
    <!--header with btn ====_home.scss======start================== -->
    <section class="hero text-center">
      <div class="container">
        <h1 class="display-1"></h1>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p class="lead"></p>
              <!-- <div class="btn btn-primary">Listen to our music
              </div> -->
            </div>
          </div>
        </div>
      </section>
  <!--header with btn ====_home.scss======end================== -->

  <!-- _______________________________________________________________________________ -->



<!-- _______________________________________________________________________________ -->

 <!--==============about====about.scss===========================  -->


       <section class="about">
         <div class="container-fluid">
           <div class="row">
             <div class="col-sm-6 about-title d-flex align-items-center justify-content-center">
                <%= image_tag ("thrill_life_logo.jpg"), class:  "img-fluid " %>
              </div>
             <div class="col-lg-4 col-md-6 about-text d-flex flex-column justify-content-center">
               <h2 class="display-2"> <a href="/about">ABOUT</a></h2>
               <p>Thrill Life Productions was created by Margarita Serrano in August of 2016.</p>
               <p> After spending her early years in the nightlife industry she decided to take her love of music to another level.</p>
               <p> Thrill Life Productions sheds the light on new and upcoming talent that often get sidelined due to the over population of main stream artists.</p>
               <br>
               <p>-- Margarita C. Serrano</p>
               <p>Thrill Life Productions, LLC.</p>

             </div>
           </div>  <!--/ROW -->
         </div>  <!--/CONTAINER-FLUID ========band-members-position-->
         <!--band-members===============  -->
         <!-- note: .band-member in scss is noting wking remove 'bg-inverse' -->
         <div class="container text-center band-members">
           <div class="row">
             <div class="col-sm-4">
               <div class="card bg-inverse border-0 band-member">
                 <%= image_tag ("GT7A2206.jpg"), class:  "card-img-top img-fluid "  %>
                 <!-- <img class="card-img-top img-fluid" src="imgages/dj1.jpg"  alt="our dj's"> -->
                 <div class="card-block">
                   <h3 class="card-title text-primary band-member-name"></h3>
                   <p class="card-text band-member-position"></p>
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card bg-inverse border-0 band-member">
                 <%= image_tag ("fb_q.jpg"), class:  "card-img-top img-fluid "  %>
                 <!-- <img class="card-img-top img-fluid" src="images/dj2.jpg"  alt="our dj's"> -->
                 <div class="card-block">
                   <h3 class="card-title text-primary band-member-name"></h3>
                   <p class="card-text band-member-position"></p>
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card bg-inverse border-0 band-member">
                 <%= image_tag ("GT7A2213.jpg"), class:  "card-img-top img-fluid "  %>
                 <!-- <img class="card-img-top img-fluid" src="imgages/djj2.jpg"  alt="our dj's"> -->
                 <div class="card-block">
                   <h3 class="card-title text-primary band-member-name"></h3>
                   <p class="card-text band-member-position"> </p>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <p class="music-cta"></p>
         <a href="/events" class="btn btn-primary">see our upcoming events</a>
       </section> <!--/ABOUT -->
 <!--  ===========parallax=========about.scss================================= -->
      <div class="parallax parallax-home">

      </div>
 <!--  ===========our music=========start=====music.scss================== -->
  <footer class="w3-light-grey w3-padding-64 w3-center" id="about">
     <!-- <img src="./assets/nyc_map.png" class="w3-image w3-padding-32" width="1300" height="1300"> -->
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
       <p class="w3-large w3-text-pink">Do not hesitate to contact me!</p>
        <div class="w3-section">
         <!-- <label><b>Name</b></label> -->
        </div>
        <div class="w3-section">
         <label><b>Email</b><br>partywiththethrillest@thrilllifeprod.com</label>
        </div>
        <div class="w3-section">
         <!-- <label><b>Message</b></label> -->
      </div>
    </form>
  </footer>
 <!--  ===========our music==========music.scss====end=================== -->

 <!--  ===========events== upcoming events====start======events.scss===================== -->

<!--  ===========events== upcoming events====end=====events.scss============== -->

<!--  ===========footer / soical media=======start===home.scss================= -->

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <p>Thrills Life Productions 2017</p>
            </div>
            <div class="col-lg-7">
              <ul class="list-inline social-links">
                  <li class="list-inline-item social-link"><a href="https://www.facebook.com/ThrillLifeProductions">Facebook</a></li>
                  <li class="list-inline-item social-link"><a href="https://twitter.com/THRILLEST_1">Twitter</a></li>
                  <li class="list-inline-item social-link"><a href="https://www.instagram.com/thrill_life_productions/">Instagram</a></li>
              </ul>

            </div>
          </div>
        </div>
      </footer>


  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <%= yield %>
</body>
<!--  ===========footer / soical media====end======home.scss================= -->


<!--  ===========about======end=================== -->

<!--  ===========parallax======start============== -->


<!--  ===========parallax=====end================== -->
