<!-- <h1>About#parallax</h1>
<p>Find me in app/views/about/parallax.html.erb</p> -->


<body>
       <section class="about">
         <div class="container-fluid">
           <div class="row">
             <div class="col-sm-6 about-title d-flex align-items-center justify-content-center">
                <%= image_tag ("thrill_life_logo.jpg"), class:  "img-fluid " %>
              </div>
             <div class="col-lg-4 col-md-6 about-text d-flex flex-column justify-content-center">
               <h2 class="display-2"> <a href="/about">ABOUT</a></h2>
               <p>Thrill Life Productions was founded by Margarita Serrano in 2016. The company was created to shine a light on new and upcoming talent that often get sidelined due to the oversaturation of mainstream artists in New York. What started out as a small hobby flourished into a full time business.</p>
               <br>
              <p>When Margarita isn't curating her own events or promoting, she is consulting for venues and other event promoters. She also assists new artists with management and mentorship. After spending the better half of the last decade in some of New York’s most iconic venues such as Pacha, China Club, Cielo, Marquee, Output and Elsewhere she is a source of extensive knowledge and a valuable asset when it comes to music and the nightlife industry.</p>
              <br>
              <p>Her motto #thrillin4alivin came to life from her love of music and the career she created from it. Her idea is if you're not #thrillin4alivin then what are you really doing? If you aren't adding value and excitement to your life and those around you then what are you living for?</p>
              <br>
              <p>Do it 4 the thrill or don't do it at all!</p>

              <p>Thrill Life Productions, LLC.</p>
             </div>
           </div>  <!--/ROW -->
         </div>  <!--/CONTAINER-FLUID ========band-members-position-->
         <!--band-members===============  -->
         <!-- note: .band-member in scss is noting wking remove 'bg-inverse' -->
         <div class="container text-center band-members">
           <div class="row">
             <div class="col-sm-4">
               <div class="card bg-inverse border-0 band-member">
                 <%= image_tag ("GT7A2206.jpg"), class:  "card-img-top img-fluid "  %>
                 <!-- <img class="card-img-top img-fluid" src="imgages/dj1.jpg"  alt="our dj's"> -->
                 <div class="card-block">
                   <h3 class="card-title text-primary band-member-name"></h3>
                   <p class="card-text band-member-position"></p>
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card bg-inverse border-0 band-member">
                 <%= image_tag ("fb_q.jpg"), class:  "card-img-top img-fluid "  %>
                 <!-- <img class="card-img-top img-fluid" src="images/dj2.jpg"  alt="our dj's"> -->
                 <div class="card-block">
                   <h3 class="card-title text-primary band-member-name"></h3>
                   <p class="card-text band-member-position"></p>
                 </div>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="card bg-inverse border-0 band-member">
                 <%= image_tag ("GT7A2213.jpg"), class:  "card-img-top img-fluid "  %>
                 <!-- <img class="card-img-top img-fluid" src="imgages/djj2.jpg"  alt="our dj's"> -->
                 <div class="card-block">
                   <h3 class="card-title text-primary band-member-name"></h3>
                   <p class="card-text band-member-position"> </p>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <p class="music-cta"></p>
         <a href="/events" class="btn btn-primary">See our merchandise</a>
       </section> <!--/ABOUT -->
 <!--  ===========parallax=========about.scss================================= -->
      <div class="parallax parallax-home">

        <!-- INSTAGRAM SECTION  -->
        <section class="hero text-center">
           <div class="container">
                <h2 class="our-music"><a href="https://www.instagram.com/thrill_life_productions/"><br><br> <br>FOLLOW  US  ON  INSTAGRAM</a></h2><br><br>
                <div class="row justify-content-center no-gutters">
                  <div class="col-xs-3 col">
                    <a href="https://www.instagram.com/thrill_life_productions/">
                    <%= image_tag ("instagram_1.png"), class:  "img-fluid "  %>
                  </a>

                  </div>
                  <div class="col-xs-3 col">
                    <a href="https://www.instagram.com/thrill_life_productions/">
                    <%= image_tag ("instagram_2.png"), class:  "img-fluid "  %>
                  </a>

                  </div>
                  <div class="col-xs-3 col">
                    <a href="https://www.instagram.com/thrill_life_productions/">
                    <%= image_tag ("instagram_8.png"), class:  "img-fluid "  %>
                  </a>

                  </div>
                  <div class="col-xs-3 col">
                    <a href="https://www.instagram.com/thrill_life_productions/">
                    <%= image_tag ("instagram_14.png"), class:  "img-fluid "  %>
                    </a>

                  </div>
                  <div class="col-xs-3 col">
                    <a href="https://www.instagram.com/thrill_life_productions/">
                    <%= image_tag ("instagram_19.png"), class:  "img-fluid "  %>
                  </a>

                  </div>
                </div>
                </div>
                </div>
              <br><br>
            </section><br><br>
        <!--INSTAGRAM SECTION END  -->

      </div>
 <!--  ===========our music=========start=====music.scss================== -->
  <!-- <footer class="bg-light-grey padding-64 text-align-center" id="about">
    <h2>For booking information</h2>
    <h3>Please contact us at</h3><br>
    <h4><p><b>Email</b><br>margarita@thrilllifeproductions.com</p></h4>
  </footer> -->

  <!--footer - soical media  -->
  <footer id="main-footer" class="text-md-left p-4 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <p>Thrills Life Productions 2017</p>
        </div>
        <div class="col-lg-7">
          <ul class="list-inline social-links">
            <li class="list-inline-item social-link">
              <a href="https://www.facebook.com/ThrillLifeProductions"><i class="fab fa-facebook" style="font-size:25px;color:white"></a></i></li>
            <li class="list-inline-item social-link">
              <a href="https://twitter.com/THRILLEST_1"><i class="fab fa-twitter" style="font-size:25px;color:white"></a></i></li>
            <li class="list-inline-item social-link">
              <a href="https://www.instagram.com/thrill_life_productions/"><i class="fab fa-instagram" style="font-size:25px;color:white"></a></i></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!--footer end  -->

  <%= yield %>
</body>
